<div class="row m-3">
    <div class="col">

        <a name="Episodes">
        <h4 class="mb-4">
            Episodes
        </h4>
        </a>

        <!-- START INNER Episodes row -->
        <div class="row my-3">

        <!-- START Episodes Column 1 -->
        <div class="col-lg-6 col-md-12 mb-4">

            <h5 class="mb-4">
            Season 1
            </h5>

            <!-- 
            {{ episode-list }}
            {{ episode-list.name }}
            {{ episode-list.season }}
            {{ episode-list.rating }}
            -->

            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Chapter Nine: The Gate
                <span class="badge badge-primary badge-pill" title="Rating"><i class="far fa-star"></i> 9.4</span>
                </button>
                <button type="button" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    Chapter Nine: The Gate
                    <span class="badge badge-primary badge-pill" title="Rating"><i class="far fa-star"></i> 7.2</span>
                </button>
            </div>


        </div>
        <!-- END Episodes Column 1 -->

        <!-- START Episodes Column 2 -->
        <div class="col-lg-6 col-md-12 mb-4">

            <h5 class="mb-4">
            Season 2
            </h5>

            <!-- could've used a tags instead of buttons but in this case I prefer to use buttons -->
            <!-- <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Chapter Nine: The Gate
                <span class="badge badge-primary badge-pill">14</span>
            </a>
            <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Chapter Nine: The Gate
                <span class="badge badge-primary badge-pill">14</span>
            </a>
            </div> -->

            <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Chapter Nine: The Gate
                <span class="badge badge-primary badge-pill" title="Rating"><i class="far fa-star"></i> 9.4</span>
            </button>
            <button type="button" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                Chapter Nine: The Gate
                <span class="badge badge-primary badge-pill" title="Rating"><i class="far fa-star"></i> 8</span>
            </button>
            </div>

        </div>
        <!-- END Episodes Column 2 -->

        </div>
        <!-- END INNER Episodes row -->

    </div>
</div>