<div class="row m-3">
    <div class="col">

        <a name="Inspiration">
        <h4 class="mb-4">
            Inspiration
            </h4>
        </a>

<!-- START Inspiration Row 1 -->
        <div class="row my-3">

        <div class="col-lg-6 col-md-12 mb-4">
            <!-- TODO: put image src into var {{ logo }} -->
            <img src="assets\img\stanger-things_raw.png" class="d-block w-100" alt="...">
        </div>

        <div class="col-lg-6 col-md-12">

            <blockquote class="blockquote m-3">
            
            <p>
                <i class="fas fa-quote-left"></i>
                <!-- {{ quote.text }} -->
                We have Mirkwood which is, of course, at the intersection of Cornwallis and Kerley, which is really close to where we grew up
                <i class="fas fa-quote-right"></i>
            </p>
            
            <footer class="blockquote-footer">
                <cite title="Source Title">
                    <!-- {{ quote.author }} -->
                    Matt Duffer
                </cite>
            </footer>
            
            </blockquote>

            <p class="lead m-3">
            <!-- {{ description }} -->
            The Duffer Brothers, born and raised in Durham, drop quite a few Durham-area references in the Emmy-winning hit sci-fi series 'Stranger Things' that they write, direct and produce.
            </p>
            

        </div>

        </div><!-- END Inspiration Row 1 -->


<!-- START Inspiration Row 2 -->
        <div class="row my-3">

        <!--
            Bootstrap 4:
            col-6 for large screens
            and col-12 for medium or smaller screens

            order-1 aka first aka on top
            and order-12 aka last aka on bottom
        -->
        <div class="col-lg-6 col-md-12 order-lg-1 order-md-12">
            <p>
            <!-- {{ snippets }} -->
            
            idk?????
            
            "It's where Cornwallis and Kerley meet. - Hopper",
            "Described as 'A love letter to the ’80s classics that captivated a generation,' \"Stranger Things\" is set in 1983 in Indiana, \"where a young boy vanishes into thin air. As friends, family and local police search for answers, they are drawn into an extraordinary mystery involving top-secret government experiments, terrifying supernatural forces and one very strange little girl.\"",
            "Despite the fact that none of the series was filmed in Durham or North Carolina (it was filmed in Georgia), a ton of references to the region are hidden in the show."

            </p>

        </div>

        <div class="col-lg-6 col-md-12 order-lg-12 order-md-1 mb-4">

            <!-- {{ video-embed }} -->
            <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.newsobserver.com/news/local/article182498126.html/video-embed" allowfullscreen>
            </iframe>
            </div>

        </div>

        </div><!-- END Inspiration Row 2 -->


    </div>
</div>