<div class="row m-3">
    <div class="col">

        <a name="Inspiration">
        <h4 class="mb-4">
            Inspiration
            </h4>
        </a>

<!-- START Inspiration Row 1 -->
        <div class="row my-3">

        <div class="col-lg-6 col-md-12 mb-4">
            <!-- TODO: put image src into var {{ logo }} -->
            <img src="assets\img\stanger-things_raw.png" class="d-block w-100" alt="...">
        </div>

        <div class="col-lg-6 col-md-12">

            <blockquote class="blockquote m-3">
            
            <p>
                <i class="fas fa-quote-left"></i>
                    {{ lang.quote.text }}
                <i class="fas fa-quote-right"></i>
            </p>
            
            <footer class="blockquote-footer">
                <cite title="Source Title">
                    {{ lang.quote.author }}
                </cite>
            </footer>
            
            </blockquote>

            <p class="lead m-3">
                {{ lang.description }}
            </p>
            

        </div>

        </div><!-- END Inspiration Row 1 -->


<!-- START Inspiration Row 2 -->
        <div class="row my-3">

        <!--
            Bootstrap 4:
            col-6 for large screens
            and col-12 for medium or smaller screens

            order-1 aka first aka on top
            and order-12 aka last aka on bottom
        -->
        <div class="col-lg-6 col-md-12 order-lg-1 order-md-12">
            roate \ random or list all snippets with for loop and dot between them?
            <p>
                {{ lang.snippets }}
            </p>

        </div>

        <div class="col-lg-6 col-md-12 order-lg-12 order-md-1 mb-4">

            {{ lang.videoEmbed }}
            <div class="embed-responsive embed-responsive-16by9">
                <!-- <iframe class="embed-responsive-item" src="https://www.newsobserver.com/news/local/article182498126.html/video-embed" allowfullscreen> -->
                <iframe class="embed-responsive-item" [src]='getSafeUrl(lang.videoEmbed)' allowfullscreen>
                </iframe>
            </div>

        </div>

        </div><!-- END Inspiration Row 2 -->


    </div>
</div>