<div class="row m-3">
    <div class="col">

        <a name="Gallery">
        <h4 class="mb-4" name="Gallery">
            Gallery
        </h4>
        </a>

        <!-- START INNER Gallery row -->
        <div class="row my-3">

            <!-- START Gallery Column 1 -->
            <div class="col-lg-4 col-md-12 order-lg-1 order-md-12">

                <!-- TODO: add *ngFor loop for each pic text -->
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor='let img of lang.gallery; index as i'>
                        Image {{ i }}: {{ lang.gallery[i].text }}
                    </li>
                </ul>

            </div>
            <!-- END Gallery Column 1 -->

            <!-- START Gallery Column 2 -->
            <div class="col-lg-8 col-md-12 order-lg-12 order-md-1 mb-4">

                <ngb-carousel #carousel interval="4000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)" class="text-center bg-dark">
                    <ng-template ngbSlide *ngFor='let img of lang.gallery; index as i'>
                        <div class="carousel-caption">
                            <h3>Image {{i + 1}}</h3>
                        </div>
                        <div class="picsum-img-wrapper">
                            <img [src]='getSafeUrl(img.src)' alt='img.text' style="height: 400px;">
                        </div>
                    </ng-template>
                </ngb-carousel>
            
            </div>
            <!-- END Gallery Column 2 -->

        </div>
        <!-- END INNER Gallery row -->
        
    </div>
</div>